{% extends "base.html" %}

{% block content %}
<div class="layui-header header header-doc">
    <div class="layui-main">
        <form class="layui-form component"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
          <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="" placeholder="搜索" autocomplete="off" class="layui-input">
            </div>
          </div>
        </form>
        <ul class="layui-nav">
          <li class="layui-nav-item layui-this"><a href="./">首页</a></li>
          <li class="layui-nav-item"><a href="./archives">归档</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">玩具</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="https://chat.crazyc.cn">聊天室</a></dd>
              <dd><a href="https://ky.crazyc.cn">考研倒计时</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="./aboutme">关于我</a></li>
        </ul>
    </div>
</div>
<div class="layui-main aboutme-posts">
        <img class="img-responsive" src="../static/2016-12-06 07.46.03.jpg" align="middle"/>
        <i>题图摄于重邮,2016-08-03</i>
        <h3>关于我</h3>
        <p>大三，就读于重庆邮电大学，计算机专业，目前在纠结于考研与就业...</p>
        <br>
        <p>懂点Python,Java.</p>
        <p>努力学习算法，机器学习中...</p>
        <p>终极目标：数据分析与平台搭建，总要懂一个</p>
        <br>
        <h4>联系我</h4>
        <p><a href="mailto://lyxvae@gmail.com">lyxvae@gmail.com</a></p>
        <br>
        <h4>小伙伴们</h4>
        <p><a href="https://www.slane.cn">杨新雷的个人网站</a></p>
        <p><a href="http://chuangzaoshi.com/">创造狮</a></p>
</div><!-- /.blog-post -->
{% endblock %}
