<!DOCTYPE html>
<html lang="zh-CN">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Crazycabbage</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="http://7xkwbq.com1.z0.glb.clouddn.com/my.css">
	  <link rel="stylesheet" type="text/css" href="http://7xkwbq.com1.z0.glb.clouddn.com/friendly.css">
	  <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'>

      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
        <div class="container" id="LG">
			<div class="row-fluid">
				<div class="span12">
					<h2 class="text-left">
						Crazycabbage Blog
					</h2>
					<nav class="navbar navbar-default" role="navigation">
					   <div class="container-fluid">
					      <ul class="nav navbar-nav">
					         <li class="active"><a href="http://crazyc.cn">主页</a></li>
					         <li><a href="http://crazyc.cn/archives/">归档</a></li>
					         <li><a href="http://crazyc.cn/aboutme/">关于</a></li>
					      </ul>
					      <form class="navbar-form navbar-right" role="search" method="get">
							  <div class="form-group">
							    <input type="text" class="form-control" placeholder="Search" name="s">
							  </div>
							  <button type="submit" class="btn btn-default">搜索</button>
							</form>
					   </div>
					</nav>
					{% block content %}
					{% endblock %}
					<footer class="footer">
		                <div class="container">
		                    <p>Power by <a href="http://v3.bootcss.com/">Bootstrap</a> and <a href="https://www.djangoproject.com/">Django</a></p>
		                </div>
		            </footer>
				</div>
			</div>
		</div>
	
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>