{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://crazyc.cn">主页</a></li>
            <li><a href="http://crazyc.cn/archives/">归档</a></li>
            <li><a href="http://crazyc.cn/aboutme/">关于</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" method="get">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="s">
        </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
</nav>
<div class="posts">
    {% for post in post_list %}
    <div class="post-description">
        <div class="jumbotron">
            <section class="post">
                <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>

                        <p class="post-meta">
                            Time:  <a class="post-author" href="#">{{ post.date_time }}</a> <a class="post-category post-category-js" href="#">{{ post.category|title }}</a>
                        </p>
                </header>
                <div class="container">
                    <p class="lead">
                        {{ post.shortContent }}
                    </p>
                </div>
            </section>
            <a class="btn btn-primary btn-lg" role="button" href="{% url 'detail' id=post.id  %}">Read More >>> </a>
        </div>
    </div>
    {% endfor %}

    <div class="pagination">
        <nav>
          <ul class="pager">
            <li class="previous">
                {% if contacts.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}">
                    <span aria-hidden="true">&larr;</span> Older
                </a>
                {% endif %}
            </li>
            <li class="next">
                {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}">Newer
                    <span aria-hidden="true">&rarr;</span>
                </a>
                {% endif %}
            </li>
          </ul>
        </nav>
    </div>
</div><!-- /.blog-post -->
{% endblock %}
