{% extends "base.html" %}

{% block content %}
<div class="layui-header header header-doc">
    <div class="layui-main">
        <form class="layui-form component"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
          <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="" placeholder="搜索" autocomplete="off" class="layui-input">
            </div>
          </div>
        </form>
        <ul class="layui-nav">
          <li class="layui-nav-item layui-this"><a href="./">首页</a></li>
          <li class="layui-nav-item"><a href="./archives">归档</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">玩具</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="https://chat.crazyc.cn">聊天室</a></dd>
              <dd><a href="https://ky.crazyc.cn">考研倒计时</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="./aboutme">关于我</a></li>
        </ul>
    </div>
</div>
<div class="layui-main">
    <div class="posts">
        {% for post in post_list %}
        <div class="post-description">
            <div class="jumbotron">
                <section class="post">
                    <header class="post-header">
                    <h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>

                            <p class="post-meta">
                                Time:  <a class="post-author" href="#">{{ post.date_time }}</a> <a class="post-category post-category-js" href="#">{{ post.category|title }}</a>
                            </p>
                    </header>
                    <div class="container">
                        <p class="lead">
                            {{ post.shortContent }}
                        </p>
                    </div>
                </section>
            </div>
        </div>
        {% endfor %}

        <div class="pagination layui-btn">
            <span class="step-links">
                {% if post_list.has_previous %}
                    <a href="?page={{ post_list.previous_page_number }}">上一页</a>
                {% endif %}

                <!-- <span class="current">
                    Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
                </span> -->

                {% if post_list.has_next %}
                    <a href="?page={{ post_list.next_page_number }}">下一页</a>
                {% endif %}
            </span>
        </div>

        <!--
        {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
        <div class="pagination">
            <nav>
              <ul class="pager">
                <li class="previous">
                    {% if post_list.has_previous %}
                    <a href="?page={{ post_list.previous_page_number }}">
                        <span aria-hidden="true">&larr;</span> Newer
                    </a>
                    {% endif %}
                </li>
                <li class="next">
                    {% if post_list.has_next %}
                    <a href="?page={{ post_list.next_page_number }}">Older
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                    {% endif %}
                </li>
              </ul>
            </nav>
        </div>
        {% endif %}
        -->
    </div><!-- /.blog-post -->
</div>
{% endblock %}
