{% extends "base.html" %}

{% block content %}
<div class="layui-header header header-doc">
    <div class="layui-main">
        <form class="layui-form component"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
          <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="" placeholder="搜索" autocomplete="off" class="layui-input">
            </div>
          </div>
        </form>
        <ul class="layui-nav">
          <li class="layui-nav-item layui-this"><a href="">首页</a></li>
          <li class="layui-nav-item"><a href="">归档</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">玩具</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="">聊天室</a></dd>
              <dd><a href="">考研倒计时</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="">关于我</a></li>
        </ul>
    </div>
</div>
<div class="layui-main">
    <div class="row">
        <div class="posts post-posts">
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">{{ post.title }}</h2>

                            <p class="post-meta">
                                Time:  <a class="post-author">{{ post.date_time|date:"Y /m /d"}}</a>
                                <a class="post-category post-category-js">{{ post.category }}</a>
                                Read:  <a>{{ post.views }}</a>
                            </p>
                    </header>

                        <div class="post-description">
                            <p>
                                {{ post.content|safe }}
                            </p>
                        </div>
                </section>
                {% load disqus_tags %}
                {% disqus_show_comments %}                         
        </div><!-- /.blog-post -->
    </div>
</div>
<script>
    window.onload=function(){
        var imgs=document.getElementsByTagName('img');
        for(var i=0;i<imgs.length;i++){
            imgs[i].setAttribute('class','img-responsive');
        }
    }
</script>
{% endblock %}
