body{
    background-color: #f2f2f2;
}

.header{
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}

.component{
    position: absolute;
    width: 300px;
    right: 120px;
    top: 14px;
}

.layui-nav{
    position: absolute !important;
    box-sizing: border-box!important;
}

.jumbotron{
    background-color: #fff;
    border: 1px solid #E7E7E7;
    margin: 10px 10px 20px;
    padding: 15px 20px;
}

.jumbotron p{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.post-title{
    margin-bottom: 20px;
    line-height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 28px;
    font-weight: 300;
}
.post-title a{
    color: #01AAED !important;
}
.post-title a:hover, a:focus{
    color: #5FB878 !important;
}

.pagination {
    margin: 10px;
}

.pagination a{
    color: #fff !important;
}

.footer{
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}

.archives-posts {
    background-color: #fff;
    padding: 1px 20px;
}

.aboutme-posts {
    background-color: #fff;
    padding: 1px 20px;
    text-align:center;

}

.aboutme-posts > i {
    text-align:center;
    font-size:12px;
    color:#999;

}
.aboutme-posts > img{
    text-align:center;
    margin:0  auto;
    display:block;
}

pre{
    font-family: Consolas,'-apple-system','Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Helvetica,Arial,sans-serif,sans-serif;
    background-color: #2d2d2d;
    border: 0px;
    border-radius: 0px;
}

@media (min-width: 768px) {
    .aboutme-posts > img{
        width:auto;
        height :auto;
        max-height:50%;
        max-width:50%;
        text-align:center;
        margin:0  auto;
        display:block;
    }
    .row {
        margin-right: 15px;
        margin-left: -15px;
    }
}

.post-description{
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.posts{
    margin: 0 30px;
    background-color: #fff;
}

.posts h3{
    font-size: 20px;
}

.posts img{
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}